<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Required CSS modules -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.3.13/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <link href="components/loader.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
  </head>
  <body>
    <v-app id="app" v-cloak>
      <v-card flat class="app-container pa-1">
        <!-- User info -->
        <v-card flat>
          <v-list-item class="primary">
            <v-list-item-avatar class="requester-avatar">
              <v-img
                :src="sharedData.requester.photo?.content_url || defaultAvatar"
              />
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title class="requester-name white--text">
                {{ sharedData.requester.name }}
              </v-list-item-title>
              <v-list-item-subtitle
                class="requester-details grey--text text--lighten-2"
              >
                Customer ID: {{ sharedData.requester.id }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>

        <!-- Navigation bar -->
        <v-card class="navigation-bar" color="grey lighten-3" flat>
          <v-btn
            v-for="(tab, key) in sharedData.tabs"
            :key="`tab-${key}`"
            color="transparent"
            :class="
            currentTab === key ? 'primary--text' : 'grey--text text--lighten-1'
          "
            depressed
            @click="currentTab = key"
          >
            <v-icon>{{ tab.icon }}</v-icon>
          </v-btn>
        </v-card>

        <!-- Current tab -->
        <v-card class="text-center my-2 pa-2" color="grey lighten-3" flat>
          <span class="primary--text font-weight-bold">
            {{ sharedData.tabs[currentTab].name }}
          </span>
        </v-card>

        <!-- User info tab - Start -->
        <template v-if="currentTab === 'user'">
          <v-simple-table class="user-info" dense>
            <template v-slot:default>
              <tbody>
                <tr v-if="sharedData.requester.name">
                  <td class="user-info-item">
                    <strong>Name:</strong>
                  </td>
                  <td>{{ sharedData.requester.name }}</td>
                </tr>
                <tr v-if="sharedData.requester.email">
                  <td class="user-info-item">
                    <strong>Email:</strong>
                  </td>
                  <td>{{ sharedData.requester.email }}</td>
                </tr>
                <tr v-if="sharedData.requester.phone">
                  <td class="user-info-item">
                    <strong>Phone:</strong>
                  </td>
                  <td>{{ sharedData.requester.phone }}</td>
                </tr>
                <template
                  v-for="(item, key) in sharedData.requester.user_fields"
                >
                  <tr
                    v-if="(item || typeof item === 'boolean') && sharedData.userFields.find((obj) => obj.key === key)"
                    :key="`field-${key}`"
                  >
                    <td class="user-info-item">
                      <strong>
                        {{ sharedData.userFields.find((obj) => obj.key ===
                        key).title }}:
                      </strong>
                    </td>
                    <td>
                      {{
                      /^([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])/.test(
                      item ) ? dateToString(item) : item }}
                    </td>
                  </tr>
                </template>
                <tr v-if="sharedData.requester.notes">
                  <td class="user-info-item">
                    <strong>Notes:</strong>
                  </td>
                  <td>{{ sharedData.requester.notes }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </template>
        <!-- User info tab - End -->

        <!-- Loyalty tab - Start -->
        <template v-if="currentTab === 'loyalty'">
          <v-simple-table dense>
            <template v-slot:default>
              <tbody>
                <tr
                  v-for="(item, key) in sharedData.loyalty.details"
                  :key="`detail-${key}`"
                >
                  <td>
                    <v-icon class="mr-2" color="primary">
                      {{ item.icon }}
                    </v-icon>
                    <strong>{{ item.title }}:</strong>
                  </td>
                  <td>{{ item.value }}</td>
                </tr>
                <tr>
                  <td>
                    <v-icon class="mr-2" color="primary">
                      fa-shopping-cart
                    </v-icon>
                    <strong>Total orders:</strong>
                  </td>
                  <td>{{ sharedData.orders.length }}</td>
                </tr>
                <tr>
                  <td>
                    <v-icon class="mr-2" color="primary"> fa-wallet </v-icon>
                    <strong>Total lifetime spent:</strong>
                  </td>
                  <td>{{ totalSpent }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>

          <!-- Discount vouchers -->
          <h2 class="mt-2">Offer discount</h2>
          <v-divider class="mb-2"></v-divider>
          <div class="d-flex justify-center align-center">
            <v-select
              v-model="selectedDiscount"
              :items="availableDiscounts"
              label="Discount"
              append-icon="fa-chevron-down"
              height="40"
              dense
              flat
              outlined
              hide-details
            ></v-select>
            <v-btn
              class="ml-2"
              color="primary"
              height="40"
              depressed
              :disabled="!selectedDiscount"
              @click="offerDiscount(selectedDiscount)"
            >
              Generate coupon
            </v-btn>
          </div>

          <h2 class="mt-2">Discount vouchers</h2>
          <v-divider class="mb-2"></v-divider>
          <v-simple-table dense>
            <template v-slot:default>
              <thead>
                <th>Code</th>
                <th>Source</th>
                <th class="text-center">%</th>
                <th class="text-center">Status</th>
              </thead>
              <tbody>
                <template v-for="(item, index) in sharedData.loyalty.vouchers">
                  <tr
                    v-if="index < 5 || loadAllVouchers"
                    :key="`voucher-${index}`"
                  >
                    <td>
                      <a
                        v-if="item.status === 'available'"
                        href="#"
                        @click="displayDiscountOnEditor(item)"
                      >
                        {{ item.code }}
                      </a>
                      <span v-else> {{ item.code }} </span>
                    </td>
                    <td>{{ item.source }}</td>
                    <td class="text-center">{{ item.discount }}</td>
                    <td class="text-center">{{ item.status }}</td>
                  </tr>
                  <tr
                    v-else-if="
                    sharedData.loyalty.vouchers.length > 5 && index === 5 && !loadAllVouchers
                  "
                    :key="`voucher-${index}`"
                  >
                    <td class="text-center" colspan="4">
                      <a
                        href="#"
                        @click.prevent="
                        loadAllVouchers = true
                        resizeApp()
                      "
                      >
                        Load all {{ sharedData.loyalty.vouchers.length }}
                        vouchers
                      </a>
                    </td>
                  </tr>
                </template>
              </tbody>
            </template>
          </v-simple-table>
        </template>
        <!-- Loyalty tab - End -->

        <!-- Orders tab - Start -->
        <template v-if="currentTab === 'orders'">
          <v-text-field
            v-model="searchOrderInput"
            prepend-inner-icon="fa-search"
            label="Search by date or order ID..."
            dense
            solo
            flat
            outlined
            hide-details
            autocomplete="off"
            @keydown.enter="searchData('Order')"
          ></v-text-field>

          <div class="my-2">
            <v-row no-gutters>
              <v-col
                v-for="(item, index) in [
                { name: 'date', value: 'Date' },
                { name: 'id', value: 'ID' }
              ]"
                :key="`sort-${index}`"
                cols="6"
                :class="index === 0 ? 'pr-1' : 'pl-1'"
              >
                <v-btn
                  width="100%"
                  :color="sortOrderBy === item.name ? 'grey darken-2' : 'grey'"
                  outlined
                  :disabled="!getOrders.length"
                  @click="
                  sortOrderBy = item.name
                  sortOrderOrder = sortOrderOrder === 'asc' ? 'desc' : 'asc'
                "
                >
                  Sort by {{ item.value }}
                  <v-icon
                    v-if="sortOrderBy === item.name"
                    class="ml-2"
                    size="10"
                  >
                    {{ sortOrderOrder === 'desc' ? 'fa-chevron-down' :
                    'fa-chevron-up' }}
                  </v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </div>

          <v-expansion-panels
            v-model="orderTab"
            v-if="getOrders.length"
            class="mt-2"
            accordion
            flat
          >
            <v-expansion-panel
              v-for="(order, oIndex) in getOrders"
              :key="`order-${oIndex}`"
              hide-actions
            >
              <v-expansion-panel-header expand-icon="fa-chevron-down">
                <v-card flat>
                  <strong class="text-uppercase"> {{ order.id }} </strong>
                  <v-chip
                    :color="sharedData.status[order.status].color"
                    class="ml-0 ml-1 order-status"
                    label
                    small
                  >
                    {{ sharedData.status[order.status].name }}
                  </v-chip>
                  <p class="panel-subtitle grey--text mb-0">
                    {{ dateToString(order.date) }}
                  </p>
                </v-card>
              </v-expansion-panel-header>

              <v-expansion-panel-content>
                <v-divider></v-divider>
                <v-card-text class="pa-0">
                  <ul class="panel-items">
                    <li>
                      <strong class="grey--text">Total</strong>
                      <br />
                      {{ orderTotal(order.id) }}
                    </li>
                    <template v-for="(detail, dIndex) in order.details">
                      <li v-if="!detail.deep" :key="`detail-${dIndex}`">
                        <strong class="grey--text">{{ detail.name }}</strong>
                        <br />
                        {{ detail.value }}
                      </li>
                    </template>
                  </ul>
                  <v-btn
                    color="primary"
                    depressed
                    width="100%"
                    @click="openOrder(order.id)"
                  >
                    View details
                  </v-btn>
                </v-card-text>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>

          <div v-else class="no-results text-center mt-5">
            <v-img height="100" src="img/404.svg" contain></v-img>
            <p>No results!<br />Please try to refine your search terms.</p>
          </div>
        </template>
        <!-- Orders tab - End -->

        <!-- Basket tab - Start -->
        <template v-if="currentTab === 'basket'">
          <v-simple-table dense>
            <template v-slot:default>
              <thead>
                <th>Item</th>
                <th>Price</th>
                <th class="text-center">QTY</th>
              </thead>
              <tbody>
                <tr
                  v-for="(item, index) in sharedData.basket"
                  :key="`basket-${index}`"
                >
                  <td>{{ itemsInfo[item.id].name }}</td>
                  <td>
                    {{ formatMoney(itemsInfo[item.id].price,
                    sharedData.currencySymbol) }}
                  </td>
                  <td class="text-center">{{ item.quantity }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>

          <v-btn class="mt-2" color="primary" depressed width="100%">
            Make purchase
          </v-btn>
        </template>
        <!-- Basket tab - End -->
      </v-card>

      <!-- Loader -->
      <app-loader v-if="loader.active" :opacity="loader.opacity"></app-loader>
    </v-app>

    <!-- Required JS modules -->
    <script src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.3.13/dist/vuetify.min.js"></script>
    <script src="js/main.js"></script>
    <script src="components/loader.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
